name: PlatformIO

on: [push]

jobs:
  test_builds:
    name: Run PlatformIO CI

    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-platform:
        # AVR
        - uno

        # Custom boards
        - loconet-accessory-decoder-rev-c
        - loconet-accessory-decoder-rev-d
        - loconet-feedback-decoder-rev-a

    steps:

    - name: Check out the PR
      uses: actions/checkout@v3

    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Cache PlatformIO
      uses: actions/cache@v3
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

    - name: Select Python 3.7
      uses: actions/setup-python@v3
      with:
        python-version: '3.7' # Version range or exact version of a Python version to use, using semvers version range syntax.
        architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified

    - name: Install PlatformIO
      run: |
        pip install -U platformio
        pio upgrade --dev
        pio pkg update --global

    - name: Run ${{ matrix.test-platform }} Tests
      run: pio ci --project-conf platformio.ini --environment ${{ matrix.test-platform }} Arcrail
      env:
        PLATFORMIO_BOARDS_DIR: "${{github.workspace}}/boards"
